@use "app/mixins";

.split-button {
  position: relative;
  width: 15rem;

  background-color: var(--color-button--fab);
  color: var(--color-button-text--fab);
  border-radius: var(--radius--button);

  &__button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-padding--button);

    &__icon {
      margin-right: var(--spacing-padding--button);
    }

    &__label {
      width: 11.1rem;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
    }

    &__chevron {
      margin-left: var(--spacing-padding--button);
    }
  }
  &__dropdown {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    position: absolute;
    width: 15rem;
    z-index: 1;

    background-color: var(--color-dropdown);

    &__label {
      padding: var(--spacing-padding--button);

      color: var(--color-dropdown-text);
      list-style-type: none;

      &__text {
        width: 12.5rem;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
      }
    }
  }
}
