.nav {
  display: flex;
  justify-content: flex-end;

  text-transform: uppercase;

  &__list {
    display: flex;

    list-style-type: none;

    &__item {
      margin-right: var(--spacing-layout-section-content-margin);

      &__link {
        color: inherit;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
