@use "../../../variables.sys";

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  display: flex;
  border-radius: var(--border-radius--rectangle);
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 15%, 90%, 80%);
  }
  100% {
    background-color: hsl(200, 15%, 95%, 90%);
  }
}
