@mixin section {
  margin: var(--spacing-layout-section) var(--spacing-layout-section-margin);
}

@mixin section__title {
  font-size: var(--font-size--section-title);
  letter-spacing: var(--letter-spacing--section-title);
  text-transform: uppercase;
}

@mixin border--regular--dark {
  border: solid 2px var(--color-default-grey--dark);
}
