:root {
  // Colors
  --color-default-red--light: #e39b9b;
  --color-default-brown: #404040;
  --color-default-white: #fffbf5;

  // Font size
  --font-size--big: 3rem;
  --font-size--medium: 1.3rem;
}
