:root {
  --color-default-blue--light: #668bcd;
  --color-default-purple--primary: #6341dc;
  --color-default-grey--dark: #2f3850;
  --color-default-white: #fffbf5;
  --color-default-pink--ultra-light: #fde5ea;

  --font-size--l: 3rem;
  --font-size--m: 1.3rem;

  --font-weight--light: 300;
  --font-weight--regular: 400;

  --letter-spacing--l: 0.4rem;
  --letter-spacing--m: 0.2rem;
  --letter-spacing--s: 0.1rem;

  --radius--s: 5px;

  --spacing--l: 4rem;
  --spacing--m: 2rem;
  --spacing--s: 1rem;
  --spacing--xs: 0.5rem;
  --spacing--xxs: 0.3rem;
}
