.character-form {
  display: flex;
  flex-direction: column;
  margin: 1rem;

  &__fieldset {
    border: none;
    gap: 0.5rem;
  }

  &__line {
    align-items: center;
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }
}
