.characters-list {
  &__item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 2rem;
    width: fit-content;

    &--active {
      font-weight: bold;
    }

    &--dead {
      opacity: 0.5;
      font-style: italic;

      &::before {
        content: "☠️";
        margin-right: 0.5rem;
      }
    }

    &--down {
      color: #b4001e;

      &::before {
        content: "💀";
        margin-right: 0.5rem;
      }
    }
  }
}
