@use "app/mixins";

.button-with-icon {
  $self: &;

  @include mixins.button;
  padding: var(--spacing-padding--button);
  width: fit-content;

  &--fab {
    @include mixins.button--fab;
  }

  &--secondary {
    @include mixins.button--secondary;
  }

  &--tertiary {
    background: transparent;
    border: none;
    color: var(--color-button-text--secondary);
  }

  &__icon {
    align-items: center;
    display: inline-flex;

    &--left {
      margin-right: var(--spacing-padding--button);
    }

    &--right {
      margin-left: var(--spacing-padding--button);
    }
  }

  &__button {
    @include mixins.button--reset-style;
    align-items: center;
    display: inline-flex;

    &:disabled {
      cursor: not-allowed;
      opacity: var(--opacity--disabled);
    }
  }
}
