@use "../../mixins";

.adventure-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;

  list-style-type: none;

  &__tile {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 32%;
    max-width: 400px;
    padding-top: var(--spacing-padding--text);
    margin: 0 var(--spacing-layout-section-content-margin)
      var(--spacing-layout-section-content-margin) 0;

    @include mixins.border--regular--dark;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;

    &__image {
      display: flex;
    }

    &__content {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
      padding-left: var(--spacing-padding--text);
      width: 100%;

      &__name {
        display: flex;
        align-items: flex-start;

        font-size: var(--font-size--section-content-title);
        font-weight: bold;
        letter-spacing: var(--letter-spacing--section-subtitle);
        text-transform: uppercase;

        &__action {
          display: flex;
          flex-shrink: 0;
        }

        &__text {
          display: flex;
          flex-shrink: 1;
          margin: 0;
          text-align: end;
        }
      }

      &__actions {
        display: flex;
        justify-content: flex-end;
        width: 100%;
      }
    }
  }
}
